useDynLib(whiteboxworkflows, .registration = TRUE)
S3method(print,wbw_raster)
S3method(print,wbw_lidar)
S3method(print,wbw_vector)
S3method(print,wbw_session)
S3method(print,wbw_sensor_bundle)
S3method("+",wbw_raster)
S3method("-",wbw_raster)
S3method("*",wbw_raster)
S3method("/",wbw_raster)
export(generate_r_wrapper_module_with_options)
export(list_tools_json)
export(list_tools_json_with_entitlement_file_options)
export(list_tools_json_with_entitlement_options)
export(list_tools_json_with_floating_license_id_options)
export(list_tools_json_with_options)
export(run_tool_json)
export(run_tool_json_with_entitlement_file_options)
export(run_tool_json_with_entitlement_options)
export(run_tool_json_with_floating_license_id_options)
export(run_tool_json_with_options)
export(wbw_array_to_raster)
export(wbw_describe_tool)
export(wbw_has_tool)
export(wbw_list_tools)
export(wbw_read_bundle)
export(wbw_read_dimap)
export(wbw_read_iceye)
export(wbw_read_landsat)
export(wbw_run_tool)
export(wbw_read_maxar_worldview)
export(wbw_read_planetscope)
export(wbw_make_progress_printer)
export(wbw_print_progress)
export(wbw_run_tool_with_progress)
export(wbw_read_radarsat2)
export(wbw_read_rcm)
export(wbw_read_sentinel1)
export(wbw_read_sentinel2)
export(wbw_raster_to_array)
export(wbw_raster_to_stars)
export(wbw_read_lidar)
export(wbw_read_raster)
export(wbw_read_vector)
export(wbw_search_tools)
export(wbw_session)
export(wbw_stars_to_raster)
export(wbw_tool_ids)
export(wbw_write_raster)
export(wbw_write_rasters)
export(wbw_write_vector)
export(whitebox_tools)
