useDynLib(whiteboxworkflows, .registration = TRUE)
export(generate_r_wrapper_module_with_options)
export(list_tools_json)
export(list_tools_json_with_entitlement_file_options)
export(list_tools_json_with_entitlement_options)
export(list_tools_json_with_floating_license_id_options)
export(list_tools_json_with_options)
export(run_tool_json)
export(run_tool_json_with_entitlement_file_options)
export(run_tool_json_with_entitlement_options)
export(run_tool_json_with_floating_license_id_options)
export(run_tool_json_with_options)
export(wbw_list_tools)
export(wbw_run_tool)
export(whitebox_tools)
